.Temperatupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}
.Temperatupe .wrapper {
    display: flex;
    align-items: center;
}
.Temperatupe .wrapper .logo { background-size: cover; }
.Temperatupe .wrapper .logo img {
    width: 235px;
    height: 235px;
}
.Temperatupe .wrapper span { font-size: 180px; }
.Temperatupe .title { font-size: 25px; }

@media screen and (max-device-width:480px) {
    .Temperatupe .wrapper span { font-size: 80px;}
    .Temperatupe .wrapper .logo img {
        width: 100px;
        height: 100px;
    }
    .Temperatupe .title { font-size: 25px; }
}